<% content_for :title do %>Instant-search<% end %>

<div class="padding: 10px;">
<% if user_signed_in?%>
<%= link_to  current_user.username,destroy_user_session_path, :method=>'delete',
  class: "waves-effect waves-teal btn-flat right"
 %>
<% else %>
<%= link_to "sign in" ,new_user_session_path,class: "waves-effect waves-teal btn-flat right"%>
<% end %>
</div>

<div class="container">

<div style=" padding-bottom: 90px;">
  
 <h1 class="center-align">
  Arbor-Knight</h1>
  </div>
   

</div>

<div class="row">

<form class="col s12">
   <div class="row">
    <div class="input-field col s10 offset-s1">
      <div class="card-panel hoverable">
      <input placeholder="Placeholder" id="user_name" type="text" class="validate">
      <label for="user_name"><i class="material-icons">Hey lets get started!</i></label>

      <div id="hits" class="collection">

      </div>
      </div>
      
      
      
  </div>
  </div>
  </form>
 </div>
 





<script type="text/javascript">
  $(document).ready(function() {
    var index = new AlgoliaSearch('AAHPH6RMMW', 'ca7cddacfe022b6d988443bce51483d4').initIndex('<%= Tag.index_name %>');
    var hitTemplate = '<div class="hit-instant-search">' +
      '<a class="collection-item" href="/tag/{{{name}}}">{{{_highlightResult.name.value}}}</a>'  +
    '</div>';
    var hitTemplateCompiled = Hogan.compile(hitTemplate);
    function search(v) {
      index.search(v, function(success, content) {
        if (!success) {
          console.log("Error: " + JSON.stringify(content));
          return;
        }
        $('#hits').html('');
        $('#stats').append('<div class="processing_time pull-right"> Processing Time:' + content.processingTimeMS + 'ms</div>');
        $('#stats').append('<div class="nb_hits">hits: ' + content.nbHits + '</div>');
        for (var i = 0; i < content.hits.length; ++i) {
          $('#hits').append(hitTemplateCompiled.render(content.hits[i]));
        }
      }, { hitsPerPage: 10 });
    }
    $('input#user_name').change(function() {
      search($(this).val());
    }).keyup(function(e) {
      if (e.which == 27) {
        $(this).val('').change();
        return;
      }
      search($(this).val());
    }).focus(function(){
      $(this).attr("placeholder", "");
    }).blur(function(){
      $(this).attr("placeholder", "Search");
    }).focus();
    $('.search-terms a').click(function(e) {
      $("input#user_name").val($(this).text()).change().focus();
    });
    search('');
  });
</script>



